@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar h1 a:hover {
    border-bottom: none;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

#navbar ul li a.current {
    border-bottom: #28a745 2px solid;
  }

/* Header */
.hero {
    background: url('../img/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero * {
    z-index: 10;
}

/* Header mentor */
.hero_mentor {
    background: url('../img/mentor/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero_mentor .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero_mentor .content h1 {
    font-size: 55px;
}

.hero_mentor .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero_mentor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero_mentor * {
    z-index: 10;
}

/* Header mentee */
.hero_mentee {
    background: url('../img/mentee/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero_mentee .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero_mentee .content h1 {
    font-size: 55px;
}

.hero_mentee .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero_mentee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero_mentee * {
    z-index: 10;
}

/* Header team */
.hero_team {
    background: url('../img/team/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero_team .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero_team .content h1 {
    font-size: 55px;
}

.hero_team .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero_team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero_team * {
    z-index: 10;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cases img:hover {
    opacity: 0.7;
}

.team img {
    border-radius: 50%;
}

/* Callback form */
.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form textarea {
    width: 100%;
    padding: 4px;
    height: 80px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #28a745;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #28a745;
}

.footer .social > * {
    margin-right: 30px;
}

/* pre-Mobile */
@media(max-width: 1000px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
}

/* Mobile */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .team img {
        width: 70%;
    }

    .myprogress .circle {
        height: 100px;
        }
}
